<section class="link-placeholder">
	<h2>Link</h2>
	<div class="link-mask-container">
		<div class="mask-active-container">
			<img class="mask-active" src={{action "getMask"}} alt="">
		</div>
		<div class="link-container">
			<img class="link" src="assets/images/link-model.png" alt="">
		</div>
	</div>
</section>
