<div class="mask-detail">
	<!-- This.model on this page is the specifically chosen mask -->
	<h3>{{this.model.title}}</h3>
	<h3>{{this.model.placeName}}</h3>
	<div class="mask-detail-container">
		<img src={{this.model.picture}} alt={{this.model.title}}>
	</div>
</div>
